html, body{
    box-sizing: border-box;
    margin: 0px;
    height: 100vh;
}


body{
    background-color: rgba(253, 177, 13, 0.295);
    display: flex;
    flex-direction: column;
}

.navigationBar{
    display:flex;
    background-color: rgba(207, 31, 140, 0.171);
    justify-content: center;
}


.navigationBar p{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.mainContainer {
    display: flex;
    height:90vh;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    display: flex;
    width:700px;
}

.leftControls{
    flex:1 1 auto;
    border: 2px solid black;
    display:flex;
    width:15%;
    flex-direction: column;
    align-items: center;
   
    
   
}

.rightControls{ 
    border: 2px solid black;
    display:flex;
    justify-content: center;
    flex:1 1 auto;
    width:15%;
}

.drawContainer{
    border: 2px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: white;
    min-width: 500px;
    min-height: 500px;
}

#firstLeft{
    background-color: brown;
    color:#eee;
    border:2px solid brown;
    width:80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0 0 auto;
    
}

#secondLeft{
    margin-top:32px;
    height: 100%;

}




.pixel{
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
    display: block;

}

button{
    background-color: brown;
    color:#eee;
    border:2px solid brown;
    width:80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 32px;
}

input{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 80%;
    padding: 0 5px;
    
}